---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}
    <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=7U-NbkNueSQCnWoXzOHtuI1VaiAdSH-jN7XGn6nE3Qg&cl=ffffff&w=a"></script>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
